$body-font: 'Source Serif Pro', serif;
$display-font: 'Zilla Slab', serif;
$mono-font: 'Roboto Mono', monospace;

$dark: #faf5e6;
$darker: #f0e7cc;
$darkest: #c7bda1;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fffcf2;
  font-size: x-large;
  font-family: $body-font;
}

h1, h2, h3, h4, h5 {
  font-family: $display-font;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ol {
  list-style: decimal outside;
}

ul {
  list-style: disc outside;
}

ul li::marker, ol li::marker {
  color: $darkest;
}

ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
}

li {
  margin-bottom: 1rem;
}

code {
  font-family: $mono-font;
}

ul, ol, blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p + p {
  margin-top: 1rem;
}

hr {
  border: 1px solid $darker;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

blockquote {
  font-family: $display-font;
  font-style: italic;
  background-color: $dark;
  padding: 1em;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  margin: auto;
}

.main input {
  width: 100%;
  background-color: $dark;
  border: 2px solid $dark;
  padding: .5rem;
  margin-top: 2rem;
  font-size: xx-large;
}

.main input:focus {
  outline: none !important;
  border: 2px solid $darker;
}

.row {
  flex-basis: 100%;
}

.hint {
  font-family: $display-font;
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
  color: #cfc5a5;
  margin: 4rem;
}

.zettel {
  margin-top: 1rem;
}

ul.search {
  margin-top: 1rem;
}

ul.search > li {
  padding-top: .2rem;
  padding-bottom: .2rem;
  list-style-type: none;
}

ul.search > li:hover {
  background-color: #faf5e6;
}

ul.search > li > a:link, a:visited {
  color: black;
  text-decoration: none;
}
